
<div class="card" style="width: 18rem;">
    <div class="center">
        <img src="../assets/img4/JAR2.jpeg" class="card-img-top" alt="..." style="width:150px;height:140px;" >
    </div>

    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Gustos personal</h5>
        </div>
        <p class="card-text">musica Fav: Electronica</p>
        <p class="card-text"> Animal Fav: Perros</p>
        <p class="card-text">Color Fav: Verde</p>
        <p class="card-text">Deporte Fav: Futbol  </p>
        <p class="card-text">Ir a festivales de Musica Electronica</p>
    </div>
</div>