
<div class="card" style="width: 18rem;">
    <div class="center">
        <img src="../assets/img4/JAR3.jpeg" class="card-img-top" alt="..." style="width:100px;height:140px;" >
    </div>

    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Información personal</h5>
        </div>
        <p class="card-text">Domicilio: Cuautla, Morelos.</p>
        <p class="card-text">Sexo: Masculino</p>
        <p class="card-text">Edad: 21.</p>
        <p class="card-text">Telefono: 7773059313</p>
        <p class="card-text">Fecha de Nacimiento:25 de septiembre del 2001</p>
    </div>
</div>