.img {
    background: lightblue;
    border-radius: 50%;
    width: 150px;
    height: 250px;
    text-align: center;
}
.t{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    background-color:#ec63ec;
    font-family: 'calibri';
}
.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    background-color:#ec63ec;
    font-family: 'calibri';
    position: relative;
    top: 80px;
    left: 100px;

}
.card3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    background-color:#ec63ec;
    font-family: 'calibri';
    position: relative;
    top: -200px;
    left: 500px;

}
.card4{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    background-color:#ec63ec;
    font-family: 'calibri';
    position: relative;
    top: -480px;
    left: 900px;

}
.card5{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    background-color:#ec63ec;
    font-family: 'calibri';
    position: relative;
    top: -480px;
    left: 900px;

}
.card6{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    background-color:#ec63ec;
    font-family: 'calibri';
    position: relative;
    top: -680px;
    left: 100px;

}
.container{
    display: flex;
    justify-content: center;
}

.img2{
    width: 300px;
    height: 300px;
}
.img3{
    width: 300px;
    height: 300px;
    position: relative;
    left: 500px;
}
.img4{
    width: 300px;
    height: 300px;
    position: relative;
    left: 900px;
}
.img5{
    width: 300px;
    height: 300px;
    position: relative;
    left: -500px;
    top: 300px;
}
.img6{
    width: 300px;
    height: 300px;
    position: relative;
    left: -50px;
    top: 300px;
}
body{
    background-color: tan;
}