<div class="card" style="width: 18rem;">
    <div class="center">
        <img src="../assets/img/usuario.png" class="card-img-top" alt="..." style="width:150px;height:140px;" >
    </div>

    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Información personal</h5>
        </div>
        <p class="card-text">Domicilio: Yautepec, Morelos.</p>
        <p class="card-text">Edad: 21.</p>
        <p class="card-text">Telefono: 7352120436</p>
    </div>
</div>