<div class="card" style="width: 18rem;">
    <div class="center">
        <img src="../assets/img/mascotas.png" class="card-img-top" alt="..." style="width:150px;height:140px;" >
    </div>

    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Mascotas</h5>
        </div>
        <p class="card-text">Perros:  3.</p>
        <p class="card-text">Conejos: 1.</p>
    </div>
</div>