.card{
    border: 5px solid sienna;
}

.center{
    text-align: center;
    background-color: rgb(19, 7, 87);
}

.card-img-top{
    background-color: rgb(10, 11, 68);
}

.card-body{
    background-color: bisque;
}

.card-title{
    background-color: rgb(251, 242, 255);
}

.card-header{
    background-color: rgb(116, 174, 221);
}