<div class="card" style="width: 18rem;">
    <div class="center">
        <img src="../assets/img2/Perfil.jpg" class="card-img-top" alt="..." style="width:150px;height:140px;" >
    </div>

    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">INFO. PERSONAL</h5>
        </div>
        <p class="card-text">Domicilio: Tetelcingo, Morelos</p>
        <p class="card-text">Edad: 21.</p>
        <p class="card-text">Sexo: Masculino</p>
        <p class="card-text">Telefono: 7352236146</p>
        <p class="card-text">Estatura:</p>
    </div>
</div>
