.card{
    border: 5px solid rgb(101, 219, 140);
}

.center{
    text-align: center;
    background-color: rgb(201, 201, 198);
}

.card-img-top{
    background-color: rgb(240, 245, 240);
}

.card-body{
    background-color: rgb(56, 147, 153);
}

.card-title{
    background-color: rgb(166, 240, 203);
}

.card-header{
    background-color: rgb(38, 162, 167);
}