<body>
  <app-c1></app-c1>
  <div class="d2">
    <app-c2></app-c2>
    <app-c3></app-c3>
    <app-c4></app-c4>
  </div>
  <div class="d3">
    <app-c5></app-c5>
    <app-c6></app-c6>
  </div>

    <app-compo1></app-compo1>
    <div class="d2">
        <app-compo2></app-compo2>
        <app-compo3></app-compo3>
        <app-compo4></app-compo4>
    </div>
    <app-c7></app-c7>
    <div class="d2">
      <app-c8></app-c8>
      <app-c9></app-c9>
      <app-c10></app-c10>
    </div>
    <div>
      <app-componente2></app-componente2>
    </div>

</body>