
<div class="card" style="width: 18rem;">
    <div class="center">
        <img src="../assets/img4/itc.png" class="card-img-top" style="width:150px; height:130px;" >
    </div>


    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Información Escolar</h5>
        </div>
        <p class="card-text">Escuela: Tecnologico de Cuautla</p>
        <p class="card-text">Carrera: ING Sistemas Computacionales.</p>
        <p class="card-text">N. De Control: 19680097</p>
        <p class="card-text">Semestre: 8to</p>
        <p class="card-text">Materia: Servicios web en dispositivos moviles</p>
    </div>
</div>