.card{
    border: 5px solid rgb(79, 228, 10);
}

.center{
    text-align: center;
    background-color: rgb(220, 223, 69);
}

.card-img-top{
    background-color: rgb(34, 33, 32);
}

.card-body{
    background-color: rgb(135, 236, 149);
}

.card-title{
    background-color: rgb(238, 234, 16);
}

.card-header{
    background-color: rgb(224, 247, 20);
}